# Application Configuration
NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000

# Backend API Credentials & URL
API_BASE_URL=http://localhost:8000/api/v1
NEXSTREAM_API_KEY_ID=your_api_key_id_here
NEXSTREAM_API_KEY=your_api_key_secret_here

# Redis Cache Configuration
REDIS_URL=redis://localhost:6001
